<%= form_with(model: [ @main, @main.facts.build ], local: true) do |form| %>

<div><%= form.text_field :tip,  :placeholder => "ENTER NEW FACTS HERE", :class => "pdtnametxt" %>
</div>

<div><%= form.submit :CREATE, :class => "createbtn" %></div>
<% end %>