<!-- JUST FISH LOGO -->

<div class="wrap intro">
  <img src="/assets/justfish2.jpg" style="width:100%" >
</div>

<!-- IMAGE SLIDER -->

<div class="wrap imgshow">
  <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 3</div>
        <img src="/assets/j1.jpg" style="width:100%" >
      <div class="text">Caption Text</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">2 / 3</div>
      <img src="/assets/j2.jpg" style="width:100%" >
      <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
      <div class="numbertext">3 / 3</div>
      <img src="/assets/j3.jpg" style="width:100%" >
      <div class="text">Caption Three</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

  </div>
</div>

<!-- DOTS FOR SLIDER -->


<div class="wrap stretch">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<!-- FACTS, ABOUT US, NEW ARRIVALS -->

<div class="wrap mid">
<br>
<table class="main">
<tr>
    <th>DID YOU KNOW?</th>
    <th>ABOUT US</th>
    <th>NEW ARRIVALS</th>
</tr>
</table>

<table class="main">
<tr>
<td>
    <table class="inner">
    <%@main.facts.each do |fact| %>     
       <tr>
         <th>
           <div>
             <span class="deleter"><%= fact.tip %></span>
             <span><%= button_to 'delete', [fact.main, fact], method: :delete, data: { confirm: 'ARE YOU SURE?' }, :class => "delbtn" %></span>
           </div>
         </th>
       </tr>
     <% end %>
     <tr>
       <th><%= render 'facts/form' %></th>
     </tr>
    </table>
</td>
<td>
    <table class="inner">
    <tr><th>blah blah blah</th></tr>
    </table>
</td>
<td>
    <table class="inner">
    <tr><th>Blah blah blah</th></tr>
    </table>
</td>
</tr>
</table>
<br> 
</div>

<!-- PRODUCTS SLIDER -->

<div class="wrap prod">
<br>
<table class="products">
<tr>
<th colspan="20">OUR PRODUCTS</th>
</tr>
<tr>
<td>blah1</td>
<td>blah2</td>
<td>blah3</td>
<td>blah4</td>
</tr>
</table>
<br>
</div>


