/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}


.fade0 {
  -webkit-animation-name: fade0;
  -webkit-animation-duration: 0.4s;
  animation-name: fade0;
  animation-duration: 0.4s;
  transition: 2s ease-in-out;
}

@-webkit-keyframes fade0 {
   from {transform: translate(-50vw,0);} 
  to {transform: translate(0, 0);}
}

@keyframes fade0 {
  from {transform: translate(-50vw,0);} 
  to {transform: translate(0, 0);}
}


.fade1 {
  -webkit-animation-name: fade1;
  -webkit-animation-duration: 3s;
  animation-name: fade1;
  animation-duration: 3s;
  transition: 0.6s ease;
}

@-webkit-keyframes fade1 {
  from {opacity: 0.6} 
  to {opacity: 1}
}

@keyframes fade1 {
  from {opacity: 0.8} 
  to {opacity: 1}
}


/* Slideshow container */
.slideshow-container {
  width: 100%;
  position:relative;
  font-size: 1.2vw;
  text-decoration: none;
}

.logo {display: none}
img {vertical-align: middle;}

.mySlides {
  width: 100%;
  height: 55vw;
  display: none;}
img {vertical-align: middle;}

.diduknow {display: none;}
img {vertical-align: middle;}

.newarrival {display: none}
img {vertical-align: middle;}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 15px;
  width:100%;
  text-align: center;
  display: inline-block;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  padding: 0px;
  margin-top: 4px;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {transform: translate(100vw,0);} 
  to {transform: translate(0, 0);}
}

@keyframes fade {
  from {transform: translate(100vw,0);} 
  to {transform: translate(0, 0);}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.prev1 {
  cursor: pointer;
  position: absolute;
  width: 7.5%;
  top: 50%;
  height: auto;
  margin-top: -6.5vw;
  left: 0;
  padding: 6vw 0 6vw 0;
  color: black;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


/* Position the "next button" to the right */
.next1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 7.5%;
  margin-top: -6.5vw;
  right: 0;
  padding: 6vw 0 6vw 0;
  color: black;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev1:hover, .next1:hover {
  border: 1px solid gray;
  box-shadow: 0px 0px 3px red;
  background: lightgray;
}

.login {
  width: 5%;
  position: absolute;
  text-align: center;
  padding: 0.1vw 0.1vw 0.1vw 0.1vw;
  font-family: 'Fresca';
  font-size: 1.3vw;
  font-weight: bold;
  border: none;
  background: none;
  text-decoration: none;
  border-radius: 4px;
  background: lightgray;
  right: 0.5vw;
  top: 0.3vw;
}

.signup {
  width: 5%;
  position: absolute;
  text-align: center;
  padding: 0.1vw 0.1vw 0.1vw 0.1vw;
  font-family: 'Fresca';
  font-size: 1.3vw;
  font-weight: bold;
  border: none;
  background: none;
  text-decoration: none;
  border-radius: 4px;
  background: lightgray;
  right: 6vw;
  top: 0.3vw;
}

.signup:hover, .login:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.currentmail {
  width: auto;
  position: absolute;
  text-align: center;
  padding: 0.1vw 0.5vw 0.1vw 0.5vw;
  font-family: 'Fresca';
  font-size: 1.3vw;
  font-weight: bold;
  border: none;
  background: none;
  text-decoration: none;
  border-radius: 4px;
  background: lightgray;
  right: 6vw;
  top: 0.3vw;
}

.currentmail:hover {
  background: black;
  color: white;
  cursor: pointer;
}