// Place all the styles related to the Mains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wrap {
    margin: 0 auto;
    padding: 0;
    width: 99%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    display: block;
    font-size: 1.5vw;
}

.backg {
    background-image: url('back.jpg');
    background-size: cover;
}

.backg2 {
    background-image: url('fish.jpg');
    background-size: cover;
}

.backg3 {
    background-image: url('food.jpg');
    background-size: cover;
}

.wrap.intro {
    background-image: url('whitebg.jpg');
    position: relative;
    height: 45vw;
}

.wrap.imgshow {
    background-image: url('greybg.jpg');
    display: block;
   	height: 55vw;
}  

.wrap.mid {
	display: block;
    background-image: url('whitebg.jpg');
    text-align: center;
    min-height: 36vw;
}

.wrap.prod {
    background-image: url('greybg.jpg');
    text-align: center;
    font-size: 2vw;
    color: white;
    position: relative;
    min-height: 32vw;
}

table.main {
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
}

table.main th {
    width: 33.33%;
    text-align: center;
    font-family:'Viga';
    padding: 1vw 0 1vw 0;
    color: black;
    border-right: 1px solid black;
    text-shadow: -2px 0 white,0 -2px white,2px 0 white,0 2px white,0 0 14px red;
    font-size: 4vw;
}

table.main td {
	font-family: 'Fresca';
    width: 33.33%;
    padding: 2vw 0 2vw 0;
}

table.inner {
    width: 100%;
    text-align: center;
}

table.inner th {
    padding: 1vw 0 1vw 0;
    border-right: 0;
    text-align: center;
    text-shadow: none;
}

table.inner td {
    width: 100%;
    text-align: center;
}


.factsandarrivals {
    font-family: 'Fresca';
    text-align: center;
    width: 100%;
    margin: auto;
    display:block;
    text-shadow: -1px 0 white,0 -1px white,1px 0 white,0 1px white, 0 0 8px purple;
    font-size: 2.1vw;
    font-weight: bold;
    padding: 2vw 0 0 0;
}

.factsandarrivalsheading {
    font-family: 'Viga';
    text-align: center;
    width: 100%;
    padding: 0;
    background: none;
    cursor: pointer;
    margin: auto;
    text-shadow: -1px 0 white,0 -1px white,1px 0 white,0 1px white, 0 0 10px orange;
    text-transform: uppercase;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 0.5vw;
}

.dltbtn {
    width: 20%;
    border: 0.5px solid black;
    font-family: 'Viga';
    font-size: 1vw;
    text-align: center;
    color: white;
    border-radius: 4px;
    background-image: url('blackbg.jpg');
    text-decoration: none;
    cursor: pointer;
}

.wrap.bottom {
    background-image: url('whitebg.jpg');
    text-align: center;
}

table.bottomtable {
    width: 100%;
}

table.bottomtable th {
    padding: 1.5vw 0 1.5vw 0;
    width: 33%;
    border-right: 1px solid black;
}

table.bottomtable td {
    width: 33%;
    text-align: center;
    font-size: 1vw;
}
.heading {
    font-family: 'Viga';
    font-weight: bold;
    font-size: 4vw;
    color: black;
    text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white, 0 0 12px green;
}

.location {
    width: 100%;
    opacity: 0.8;
}

.location:hover {
    border: 2px solid black;
    border-radius: 4px;
}

.btmcontents {
    width: 86%;
    margin: 0 auto;
    text-align: left;
    font-size: 1.6vw;
    font-family: 'Fresca';
    white-space: wrap;
    color: black;
    }

.ourpdt {
    font-family: 'Viga';
    font-weight: bold;
    font-size: 4vw;
    color: white;
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 0 0 20px orange;  
}

.contactset {
    width: 12%;
    padding: 0 10px 0 10px;
    vertical-align: text-bottom;
    float: left;
}

.btmcontents1 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.6vw;
    font-family: 'Fresca';
    white-space: wrap;
    color: black;
    }

.addressfield {
    width: 100%;
    height: 10vw;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 1.8vw;
    font-family: 'Viga';
    text-align: center;
    color: darkred;
}

.addressfield:focus {
    background: lightyellow;
}

.addressfield:hover {
    background: lightyellow;
}

.btmlogin {
    position: absolute;
    right: 3vw;
    color: black; 
    font-size: 2vw; 
    vertical-align: top; 
    font-weight: bold; 
    text-align: right; 
    font-family: 'Fresca';
    display: inline-block; 
    margin: 0 auto; 
    text-shadow: 0 0 0.02vw blue;   
}

.btmlogin:hover {
    border-bottom: 0.1vw solid black;
}