// Place all the styles related to the Newarrivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newarrival {
	width: 85%;
	padding: 1vw 1vw 1vw 1vw;
	margin: auto;
}

.newarrival:hover .factsandarrivalsheading {
	background: rgba(255,165,43, 0.6);
}

.newarrival:hover .factsandarrivals {
	background: none;
	background: rgba(255,165,43, 0.6	);
}

.factsandarrivals:active {
    transform: translateY(0.2vw);
}

.factsandarrivalsheading:active {
    transform: translateY(0.2vw);
}

.newimg {
	position: absolute;
	top: -2.5vw;
	left: -2.5vw;
	width: 45%;
}