// Place all the styles related to the Newarrivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newarrival {
	width: 100%;
	padding: 1vw 1vw 1vw 1vw;
	margin: auto;
}