
<br>
<%= form_with(model: [ @category, @category.products.build ], local: true) do |form| %>

<div><%= form.text_field :pdtname, :placeholder => "ENTER NEW PRODUCT HERE", :class => "pdtnametxt" %>
</div>

<div>
	<%= form.text_area :pdtdescp,:placeholder => "ENTER DETAILS HERE", :class => "pdtdescptxt" %>
</div>
<div><%= form.submit :SAVE, :class => "createbtn" %></div>
<% end %>
<br>
<br>